# ---------------------
# DATASET / RESULT 제거
# ---------------------
../head/
../head/*

# ---------------------
# 모델 가중치 제외
# ---------------------
*.pth
*.pt

# ---------------------
# Python 캐시 파일
# ---------------------
__pycache__/
*.pyc

# ---------------------
# macOS / 임시 파일
# ---------------------
.DS_Store
tmp/
pymp-*

# ---------------------
# 가상환경 (혹시 code 내부에 만들 경우)
# ---------------------
venv/
.venv/

# ---------------------
# 로그 파일
# ---------------------
*.log
logs/

